body {
    background-color: grey;
    display: flex;
    flex-direction: column;
}

header {
    background-color: blue;
    display: flex;
}

div.middle {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    min-height: 82.5vh;
}

ul.nav {
    background-color: gold;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-grow: 1;
    height: 82.5vh;
    padding: 0;
    margin: 0;
}

ul.nav > li {
    padding: 0px;
}

ul.nav > li > a {
    display: block;
    height: 40px;
    text-align: left;
    text-decoration: none;
    color: white;
}

ul.nav > li > a:hover {
    background-color: violet;
}

article {
    background-color: red;
    display: flex;
    float: right;
    flex-grow: 30;
    flex-direction: column;
}

form.form {
    padding-left: 30%;
}

div.contact {
    text-align: center;
}

div.links {
    text-align: center;
}

div.time_block {
    display: flex;
    flex-direction: column;
}

div.body-content {
    text-align: justify;
    max-width: 75vh;
    padding-left: 25%;
    padding-right: 25%;
}

div.time_block > p {
    margin: 0;
    padding-left: 12px;
    font-size: 18;
}

div.body-content > h1 {
    text-align: center;
}

footer {
    background-color: green;
}
